:root{
    --Lime-Green: hsl(163, 72%, 41%);
    --Bright-Red: hsl(356, 69%, 56%);
    --Facebook: hsl(208, 92%, 53%);
    --Twitter: hsl(203, 89%, 53%);
    --Instagram:hsl(37, 97%, 70%);
    --insta: hsl(329, 70%, 58%);
    --YouTube: hsl(348, 97%, 39%);
}
.main1{
    background-color: rgb(26, 26, 44);
}
.main2{
    background-color: rgb(16, 16, 29)
}
.card{
    background-color: rgba(11, 11, 46, 0.692);
}
.stella{
    background-color: var(--Lime-Green);
}
.facebook{
    background: var(--Facebook);
}
.witt{
    margin-top: 1em;
}
.wett{
    margin-top: 5em;
}
.twitter{
    background: var(--Twitter);
}
.insta{
    background: linear-gradient(to right,var(--Instagram),var(--insta));
}
.you{
    background: var(--YouTube);
}

.white{
    color: white;
}
.tin{
    margin-top: inherit;
    height: 6px;
}
@media screen and (max-width: 600px){
    .card{
        margin-top: 2em;
    }
    .tin{
        margin-top: initial;
    }
}